/* --- New Top Menu Bar Styles --- */

.cms-main-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.cms-main-menu.sidebar-active {
    right: 0;
    width: calc(100% - 250px);
}

.cms-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #2c3e50;
    border-bottom: 1px solid #34495e;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.cms-menu-group {
    display: flex;
    height: 100%;
}

.cms-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    color: #ecf0f1;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
}

.cms-menu-button:hover {
    background-color: magenta;
    color: white;
}

.cms-menu-button> * {
    pointer-events: none;
}

.cms-menu-divider {
    width: 1px;
    height: 20px;
    background-color: #7f8c8d;
    margin: auto 5px;
    align-self: center;
}

.cms-status-bar {
    display: flex;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 24px;
    background-color: magenta;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#selected-element-label {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}